body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0064c7; /* Fondo oscuro por defecto */
    transition: background-color 2s ease; /* Transición para el cambio de fondo */
}

body.show-chat {
    background-image: url('images/fondo.png'); /* Fondo de la imagen cuando se muestra el chat */
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen al hacer scroll */
}

#chatbot {
    width: 60%;
    background: white;
    box-shadow: 0 0 80px rgb(250, 250, 250);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    display: none;
    height: auto;
    position: relative; /* Asegura que los elementos internos no se salgan del contenedor */
    background-image: url('images/image.png'); /* Ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen al hacer scroll */
}

#chat-window {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    max-height: 60vh;
    background-color: rgba(255, 255, 255, 0); /* Fondo blanco semi-transparente para que el fondo sea visible */
}


#messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
}

.message {
    max-width: 80%;
    padding: 12px 16px; /* Más padding para hacerlas más grandes */
    border-radius: 25px; /* Bordes redondeados */
    font-size: 1.5vw;
    margin-bottom: 10px; /* Espacio entre mensajes */
    position: relative; /* Necesario para la "punta" de la burbuja */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de profundidad */
    display: inline-block;
}

.user-message {
    align-self: flex-end;
    background: #0084ff;
    color: white;
    border-top-left-radius: 0px; /* Para dejar sin radio la parte superior izquierda */
    border-bottom-right-radius: 0px; /* Para dejar sin radio la parte inferior derecha */
}

.bot-message {
    align-self: flex-start;
    background: #f1f0f0;
    color: black;
    border-top-right-radius: 0px; /* Para dejar sin radio la parte superior derecha */
    border-bottom-left-radius: 0px; /* Para dejar sin radio la parte inferior izquierda */
}

/* Punta de la burbuja */
.message::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Ubicación de la punta */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* Punta para los mensajes del usuario */
.user-message::after {
    left: 50%; /* Coloca la punta del lado derecho */
    border-top: 10px solid #0084ff; /* Punta en el color del mensaje */
}

/* Punta para los mensajes del bot */
.bot-message::after {
    left: 10%; /* Coloca la punta del lado izquierdo */
    border-top: 10px solid #f1f0f0; /* Punta en el color del mensaje */
}

#input-area {
    display: flex;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.5vw;
}

#send-button {
    padding: 10px 16px;
    border: none;
    background: #0084ff;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
}

#send-button:hover {
    background: #006bb3;
}


/* Animación para la introducción del mensaje */
#intro-message {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #333;
    width: 0;
    animation: typing 4s steps(50) forwards, blink 0.75s step-end infinite;
    background-color: #0064c7;
    /* Fondo inicial del mensaje */
    color: white;
    /* Texto en blanco */
    transition: background-color 2s ease;
    /* Transición del color de fondo */
}

#intro-image {
    width: 200px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 20px;
    /* Espacio entre la imagen y el texto */
}


/* Parpadeo del cursor */
@keyframes blink {
    100% {
        border-color: white;
        height: 50%;
    }
}

/* Efecto de tipeo */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#loading-msg {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;    
    color: #535353;
    transition: color 2s ease;
    font-family: 'Courier New', Courier, monospace;
}
